// @teamshares/design-system
@import 'without_shoelace'; // NOTE: broken up so public-website can avoid importing shoelace in its entirety

@import '@teamshares/shoelace/dist/themes/light';
@import '@teamshares/shoelace/dist/styles/index';

// Include SharedUI (from tsRailsPath) + application (from APP_ROOT) component styles (enabled by postcss-easy-import's path)
@import 'app/frontend/components/**/*.scss';  // stylelint-disable-line scss/at-import-partial-extension-blacklist

// Override the FOUC solution in Shoelace theme, which causes the (undefined) ts-wrapper to be hidden forever
// TODO: Eventually we may want to actually register that ts-wrapper component, especially if we want it to do something,
// such as give us analytics on ViewComponent usage
ts-wrapper:not(:defined) {
  visibility: visible;
}

// Make the wrapper's children to appear as if they were direct children of the wrapper's parent, ignoring the wrapper itself.
ts-wrapper {
  display: contents;
}
