.tr        { display: table-row; }
.thead     { display: table-header-group; }
.tbody     { display: table-row-group; }
.tfoot     { display: table-footer-group; }
.col       { display: table-column; }
.colgroup  { display: table-column-group; }
.td, .th   { display: table-cell; }
.caption   { display: table-caption; }

.table {
  display: table; border-collapse: collapse;

  /** TODO: Should be using CSS variables from design system */
  --ts-color-row-bg-odd: #8881;
  --ts-color-row-bg-even: #fff1;
  --ts-color-header-row-bg: #ccc;
  --ts-table-row-gap: 0.25rem;
  --ts-table-column-gap: 1.5rem;
  --ts-table-cell-padding-y: 0.75rem;
  --ts-table-cell-padding-x: calc(var(--ts-table-column-gap)/2);
  --ts-table-th-padding: var(--sl-spacing-x-small, 0.5rem) var(--ts-table-cell-padding-x);
  --ts-table-td-padding: var(--ts-table-cell-padding-y) var(--ts-table-cell-padding-x);

  &.alternating-rows {
    .tr:nth-child(odd) {
      background-color: var(--ts-color-row-bg-odd);
    }

    .tr:nth-child(even) {
      background-color: var(--ts-color-row-bg-even);
    }
  }

  .responsive-row-group, .responsive-column-group {
    @apply contents;
  }

  .responsive-label {
    @apply mr-1 font-semibold;
  }

  &, .thead, .tbody, .tfoot, .tr {
    @apply w-full relative;
  }

  &.sticky-header {
    .thead .tr {
      @apply bg-white sticky top-0 z-10 border-none;
      background-image: repeating-linear-gradient(
        0deg,
        var(--ts-color-gray-300),
        var(--ts-color-gray-300) 1px,
        transparent 1px,
        transparent 1000px
      )
    }
  }

  .tr {
    @apply py-4 border-b border-gray-200;

    &.clickable {
      @apply hover:bg-gray-100 cursor-pointer;
    }
  }

  .th {
    @apply font-semibold whitespace-nowrap;

    &:not(:empty) {
      padding: var(--ts-table-th-padding);
    }
  }

  .td {
    @apply align-top;
    font-size: 0.875rem;
    font-weight: 400;;

    &:not(:empty) {
      padding: var(--ts-table-td-padding);
    }

    &:has(sl-icon):last-of-type, &:has(sl-button):last-of-type {
      @apply align-middle whitespace-nowrap;

      sl-button:not(:last-of-type) {
        @apply mr-2;
      }
    }

    form {
      /* Override Tailwind setting, which adds margin on button_to forms */
      margin-block-end: 0;
    }
  }
}

/**
  * Table container queries
  *
  * Note that these correspond to the Tailwind container breakpoints,
  * but they use max-width instead of min-width (because we're desktop-first)
  *
  @xs	  @container (max-width: 20rem /* 320px )
  @sm	  @container (max-width: 24rem /* 384px )
  @md	  @container (max-width: 28rem /* 448px )
  @lg	  @container (max-width: 32rem /* 512px )
  @xl	  @container (max-width: 36rem /* 576px )
  @2xl	@container (max-width: 42rem /* 672px )
  @3xl	@container (max-width: 48rem /* 768px )
  @4xl	@container (max-width: 56rem /* 896px )
  @5xl	@container (max-width: 64rem /* 1024px )
**/

/** Make the direct parent of any .table.container-xx element a query-eligible container */
*:has(
    > .table.container-xs,
    > .table.container-sm,
    > .table.container-md,
    > .table.container-lg,
    > .table.container-xl,
    > .table.container-2xl,
    > .table.container-3xl,
    > .table.container-4xl,
    > .table.container-5xl
  ) {
  @apply @container;
}

.table.container-xs,
.table.container-sm,
.table.container-md,
.table.container-lg,
.table.container-xl,
.table.container-2xl,
.table.container-3xl,
.table.container-4xl,
.table.container-5xl {
  /** Common across all container sizes, before responsive breakpoint */
  @apply flex-col;

  .show-at-responsive {
    @apply hidden;
  }

  .responsive-label {
    @apply hidden;
  }

  .responsive-row-group, .responsive-column-group {
    @apply flex-wrap justify-between;
    margin-block-end: var(--ts-table-row-gap);
    gap: var(--ts-table-row-gap);

    .td, .th {
      flex-grow: 1;
    }
  }
}

@define-mixin responsive-table $size, $max {
  .table.container-$(size) {
    @container (max-width: $(max)) {
      --ts-table-row-padding-y: 0.75rem;
      --ts-table-cell-padding-y: 0.25rem;
      --line-height: 1.25rem;
      --pos-row-height: calc(var(--line-height) + (2 * var(--ts-table-cell-padding-y)));

      &, .tr, .td              { @apply flex; }
      .tr                      { @apply flex-col py-3; }
      .responsive-row-group    { @apply flex flex-row; }
      .responsive-column-group { @apply flex flex-col; }
      .responsive-label        { display: initial; }
      .show-at-responsive      { display: initial; }
      .hide-at-responsive      { @apply hidden; }
      .thead                   { @apply hidden; }
      .tbody                   { @apply contents; }
      .th                      { @apply hidden; }

      .td {
        line-height: var(--line-height);

        &.pos-tr-1, &.pos-tr-2, &.pos-tr-3 {
          @apply absolute right-0;
        }
        &.pos-tr-1 { top: calc(var(--ts-table-row-padding-y)); }
        &.pos-tr-2 { top: calc(var(--ts-table-row-padding-y) + var(--pos-row-height)); }
        &.pos-tr-3 { top: calc(var(--ts-table-row-padding-y) + (2 * var(--pos-row-height))); }

        &.pos-br-1, &.pos-br-2, &.pos-br-3 {
          @apply absolute right-0;
        }
        &.pos-br-1 { bottom: calc(var(--ts-table-row-padding-y)); }
        &.pos-br-2 { bottom: calc(var(--ts-table-row-padding-y) + var(--pos-row-height)); }
        &.pos-br-3 { bottom: calc(var(--ts-table-row-padding-y) + (2 * var(--pos-row-height))); }

        &:has(sl-button):last-of-type {
          @apply justify-end mt-3;

          sl-button {
            @apply w-full @md:w-auto;
          }
        }
      }

      sl-button {
        &::part(label) {
          @apply text-sm leading-9;
          padding: 0 var(--ts-spacing-2x-large);
        }

        &::part(base) {
          @apply h-10;
        }
      }
    }
  }
}

/** 
 * Note: VSCode shows an error for the following lines, but its just a 
 * VSCode thing. The syntax compiles fine.
*/
@mixin responsive-table xs, 20rem;
@mixin responsive-table sm, 24rem;
@mixin responsive-table md, 28rem;
@mixin responsive-table lg, 32rem;
@mixin responsive-table xl, 36rem;
@mixin responsive-table 2xl, 42rem;
@mixin responsive-table 3xl, 48rem;
@mixin responsive-table 4xl, 56rem;
@mixin responsive-table 5xl, 64rem;


/** New utility classes that really should exist in Tailwind */
.w-xs  {width: 20rem;}
.w-sm  {width: 24rem;}
.w-md  {width: 28rem;}
.w-lg  {width: 32rem;}
.w-xl  {width: 36rem;}
.w-2xl {width: 42rem;}
.w-3xl {width: 48rem;}
.w-4xl {width: 56rem;}
.w-5xl {width: 64rem;}