html {
  scroll-behavior: smooth;
}

.icons-preview {
  svg {
    height: 100%;
    width: 100%;
  }
}

.ts-breadcrumbs {
  font-size: 0.75rem;
  font-weight: 500;
}

.fuschia-label-text {
  color: #9023b7;
}

.fuschia-label-background {
  background-color: #f8edfc;
}

// Core elements

body {
  font-family: theme('fontFamily.sans');
  font-size: 1rem;
  letter-spacing: -0.01rem;
  line-height: 1.75rem;
  @apply font-normal ts-text-default antialiased;;
}

a {
  @apply text-gray-900; // TODO: *why* are setting a default gray, no hover? Note buyout overrides this, but other codebases use it as default...
  text-decoration: none;
}

code {
  @apply bg-gray-300 border-gray-400;
  border-radius: 0.25rem;
  border-style: solid;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
}

p {
  font-size: 1rem;
  letter-spacing: -0.01rem;
  line-height: 1.5rem;
  margin-bottom: 1em;

  &.xs {
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }

  &.sm {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  a {
    text-decoration: underline;
  }
}

li a,
ul a {
  text-decoration: underline;
}

/**
 * Exceptions to FOUCE for Rails-generated web components
 * This overrides the default from Shoelace, which hides un-defined components 
 * See https://design.teamshares.com/#/getting-started/usage?id=waiting-for-components-to-load
 */
action-text-attachment:not(:defined),
turbo-frame:not(:defined),
turbo-stream:not(:defined),
ts-wrapper:not(:defined) {
  visibility: initial;
}