:root,
:host,
sl-theme {
  /* Button font size override */
  --sl-button-font-size-large: var(--sl-font-size-small);
}

/** ********** **/
/* Button custom colors */
/** ********** **/
sl-button[variant='primary']::part(base):hover {
  background-color: var(--sl-color-primary-700);
  border-color: var(--sl-color-primary-600);
}

sl-button[variant='primary']::part(base):active {
  background-color: var(--sl-color-primary-800);
  border-color: var(--sl-color-primary-600);
}

sl-button[variant='default']::part(base) {
  background-color: var(--sl-color-neutral-100);
  border-color: var(--sl-color-neutral-300);
  color: var(--ts-color-text-default);
}

sl-button[variant='default']::part(base):hover {
  background-color: var(--sl-color-neutral-200);
  border-color: var(--sl-color-neutral-300);
  color: var(--ts-color-text-default);
}

sl-button[variant='default']::part(base):active {
  background-color: var(--sl-color-neutral-300);
  border-color: var(--sl-color-neutral-300);
  color: var(--ts-color-text-default);
}

sl-button[variant='warning']::part(base) {
  background-color: var(--sl-color-warning-500);
  border-color: var(--sl-color-warning-500);
}

sl-button[variant='warning']::part(label),
sl-button[variant='warning']::part(caret),
sl-button[variant='warning']::part(prefix),
sl-button[variant='warning']::part(suffix) {
  color: var(--ts-color-text-default);
}

sl-button[variant='warning']::part(base):hover {
  background-color: var(--sl-color-warning-600);
  border-color: var(--sl-color-warning-500);
}

sl-button[variant='warning']::part(base):active {
  background-color: var(--sl-color-warning-600);
  border-color: var(--sl-color-warning-500);
  filter: brightness(0.95);
}

sl-button[variant='danger']::part(base) {
  background-color: var(--sl-color-danger-700);
  border-color: var(--sl-color-danger-700);
}

sl-button[variant='danger']::part(base):hover {
  background-color: var(--sl-color-danger-800);
  border-color: var(--sl-color-danger-700);
}

sl-button[variant='danger']::part(base):active {
  background-color: var(--sl-color-danger-900);
  border-color: var(--sl-color-danger-700);
}

/* Custom colors for outline buttons */
sl-button[outline]::part(base) {
  background-color: transparent;
}

sl-button[variant='default'][outline]::part(base) {
  border-color: var(--sl-color-neutral-400);
}

sl-button[variant='default'][outline]::part(base):hover {
  background-color: var(--sl-color-neutral-200);
  border-color: var(--sl-color-neutral-400);
}

sl-button[variant='default'][outline]::part(base):active {
  background-color: var(--sl-color-neutral-300);
  border-color: var(--sl-color-neutral-400);
}

sl-button[variant='primary'][outline]::part(label),
sl-button[variant='primary'][outline]::part(prefix),
sl-button[variant='primary'][outline]::part(suffix) {
  color: var(--sl-color-primary-600);
}

sl-button[variant='primary'][outline]::part(base) {
  border-color: var(--sl-color-primary-200);
}

sl-button[variant='primary'][outline]::part(base):hover {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-200);
}

sl-button[variant='primary'][outline]::part(base):active {
  background-color: var(--sl-color-primary-100);
  border-color: var(--sl-color-primary-200);
}

sl-button[variant='warning'][outline]::part(label),
sl-button[variant='warning'][outline]::part(prefix),
sl-button[variant='warning'][outline]::part(suffix) {
  color: var(--sl-color-warning-800);
}

sl-button[variant='warning'][outline]::part(base) {
  border-color: var(--sl-color-warning-400);
}

sl-button[variant='warning'][outline]::part(base):hover {
  background-color: var(--sl-color-warning-100);
  border-color: var(--sl-color-warning-400);
}

sl-button[variant='warning'][outline]::part(base):active {
  background-color: var(--sl-color-warning-200);
  border-color: var(--sl-color-warning-400);
}

sl-button[variant='danger'][outline]::part(label),
sl-button[variant='danger'][outline]::part(prefix),
sl-button[variant='danger'][outline]::part(suffix) {
  color: var(--sl-color-danger-800);
}

sl-button[variant='danger'][outline]::part(base) {
  border-color: var(--sl-color-danger-200);
}

sl-button[variant='danger'][outline]::part(base):hover {
  background-color: var(--sl-color-danger-100);
  border-color: var(--sl-color-danger-200);
}

sl-button[variant='danger'][outline]::part(base):active {
  background-color: var(--sl-color-danger-300);
  border-color: var(--sl-color-danger-200);
}

/** ********** **/
/* Button custom font size + padding */
/** ********** **/
sl-button[size='medium']::part(base) {
  padding: 0 var(--sl-spacing-medium); /* 16px */
}

sl-button[size='medium']::part(label) {
  padding: 0 var(--sl-spacing-x-small); /* 8px */
}

sl-button[size='large']::part(base) {
  padding: 0 20px;
}

sl-button[size='large']::part(label) {
  padding: 0 var(--sl-spacing-small); /* 12px */
}

sl-button[size='x-large']::part(base) {
  padding: 0 var(--sl-spacing-2x-large); /* 32px */
}

sl-button[size='x-large']::part(label) {
  font-size: var(--ts-font-base); /* 16px */
  line-height: calc(var(--sl-spacing-4x-large) - var(--sl-input-border-width) * 2);
  padding: 0 var(--sl-spacing-x-small); /* 8px */
}

sl-button[size='medium']::part(caret),
sl-button[size='medium']::part(prefix),
sl-button[size='medium']::part(suffix),
sl-button[size='medium'][circle]::part(label) {
  font-size: var(--ts-font-base); /* 16px */
}

sl-button[size='large']::part(caret),
sl-button[size='large']::part(prefix),
sl-button[size='large']::part(suffix)
sl-button[size='large'][circle]::part(label) {
  font-size: var(--ts-font-xl); /* 20px */
}

sl-button[size='x-large']::part(caret),
sl-button[size='x-large']::part(prefix),
sl-button[size='x-large']::part(suffix),
sl-button[size='x-large'][circle]::part(label) {
  font-size: var(--ts-font-2xl); /* 24px */
}

/* To remove default padding from split buttons */
sl-button.no-pad-l::part(base) {
  padding-left: 0;
}

sl-button.no-pad-r::part(base) {
  padding-right: 0;
}

/* To remove margin from buttons that are slotted, so that a gap style can be added to the  parent part */
sl-button.no-gap {
  margin: 0;
}


// /** ********** **/
// /* Button custom size, x-large */
// /** ********** **/
// sl-button.x-large::part(base) {
//   height: var(--sl-spacing-4x-large); /* 64px */
//   padding: 0 var(--sl-spacing-2x-large); /* 32px */
// }

// sl-button.x-large::part(label) {
//   font-size: var(--ts-font-base); /* 16px */
//   line-height: calc(var(--sl-spacing-4x-large) - var(--sl-input-border-width) * 2);
// }

// sl-button.x-large::part(caret),
// sl-button.x-large::part(prefix),
// sl-button.x-large::part(suffix) {
//   font-size: var(--ts-font-2xl); /* 24px */
// }
