/** ******************************** */
/** Select */
/** ******************************** */
/* Control gap between select & menu panel */
sl-select::part(listbox) {
  margin-top: var(--sl-spacing-x-small);
}

/* Set color of text displayed in select */
sl-select::part(display-input) {
  color: var(--ts-color-text-default);
}

/** ********** **/
/* Option styling */
/** ********** **/
sl-option::part(base) {
  color: var(--ts-color-text-default);
  padding: var(--sl-spacing-x-small) var(--sl-spacing-2x-small);
}

sl-option[tabindex='0']::part(base) {
  background-color: var(--sl-color-neutral-100);
  color: var(--ts-color-text-default);
}

sl-option:hover::part(base),
sl-option:focus::part(base),
sl-option:focus-visible::part(base) {
  background-color: var(--sl-color-neutral-100);
  color: var(--ts-color-text-default);
}

sl-option[disabled]:hover::part(base) {
  background-color: var(--sl-color-neutral-0);
}

sl-option:active::part(base) {
  background-color: var(--sl-color-neutral-200);
  color: var(--ts-color-text-default);
}

sl-option::part(checked-icon) {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 20 20' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' fill='%232e333c' stroke='none'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  padding-right: var(--sl-spacing-x-small); /* 8px */
}

sl-option::part(label) {
  font-size: var(--sl-font-size-small);
  line-height: var(--ts-leading-5);
}
