sl-details::part(base) {
  border: 1px solid var(--sl-color-neutral-300);
}

/* To add a card shadow around the details block */
sl-details.card-shadow::part(base) {
  box-shadow: var(--sl-shadow-x-small);
}

/* To remove the border around the details block */
sl-details.no-border::part(base) {
  border: 0;
}
