sl-dialog::part(panel) {
  --width: 480px;
  --header-spacing: 32px 32px 0;
  --body-spacing: 16px 32px 24px;
  --footer-spacing: 0 32px 32px;
  border-radius: var(--sl-border-radius-x-large);
  box-shadow: var(--sl-shadow-x-large);
}

sl-dialog::part(close-button) {
  padding: 32px 32px 8px;
}

sl-dialog::part(close-button__base) {
  font-size: 32px;
  padding: 0;
}

sl-dialog.small::part(panel) {
  --width: 400px;
}

sl-dialog.large::part(panel) {
  --width: 600px;
}

sl-dialog.has-icon > div > :first-child {
  font-size: var(--ts-font-2xl); /* 24px */
  margin-right: var(--sl-spacing-medium); /* 16px */
}

sl-dialog.has-icon > div,
sl-dialog::part(header) {
  align-items: center;
  display: flex;
}

sl-dialog::part(close-button__base) {
  padding: var(--sl-spacing-2x-small);
}

sl-dialog::part(title) {
  /* ts-heading-6 */
  font-size: var(--ts-font-xl); /* 20px */
  font-weight: var(--ts-font-medium); /* 500 */
  letter-spacing: var(--ts-tracking-tight); /* -0.025em */
  line-height: var(--ts-leading-6); /* 1.5rem * 24px */
}

sl-dialog::part(body) {
  color: var(--ts-color-text-subdued);
  /* ts-body-1 */
  font-size: var(--ts-font-base); /* 16px */
  font-weight: var(--ts-font-normal); /* 400 */
  letter-spacing: var(--ts-tracking-normal); /* normal */
  line-height: var(--ts-leading-6); /* 1.5rem * 24px */
}

sl-dialog.small::part(body) {
  color: var(--ts-color-text-subdued);
  /* ts-body-2 */
  font-size: var(--ts-font-sm); /* 14px */
  font-weight: var(--ts-font-normal); /* 400 */
  letter-spacing: var(--ts-tracking-normal); /* normal */
  line-height: var(--ts-leading-5); /* 1.25rem * 20px */
}
