/** ********** **/
/* Menu panel styling */
/** ********** **/
::part(panel) {
  border-radius: var(--sl-border-radius-large);
  box-shadow: var(--sl-shadow-medium);
}

/* Control gap between dropdown & menu panel */
sl-dropdown::part(panel) {
  margin-top: var(--sl-spacing-2x-small);
}

/** ********** **/
/* Menu item styling */
/** ********** **/
sl-menu-item::part(base) {
  color: var(--ts-color-text-default);
  padding: var(--sl-spacing-x-small) var(--sl-spacing-2x-small);
}

sl-menu-item:hover::part(base),
sl-menu-item:focus::part(base),
sl-menu-item:focus-visible::part(base) {
  background-color: var(--sl-color-neutral-100);
  color: var(--ts-color-text-default);
}

sl-menu-item[disabled]:hover::part(base) {
  background-color: var(--sl-color-neutral-0);
}

sl-menu-item:active::part(base) {
  background-color: var(--sl-color-neutral-200);
  color: var(--ts-color-text-default);
}

sl-menu-item::part(label) {
  font-size: var(--sl-font-size-small);
  line-height: var(--ts-leading-5);
}

/** ********** **/
/* Menu label styling */
/** ********** **/
sl-menu-label::part(base) {
  color: var(--ts-color-text-subdued);
  font-size: var(--sl-font-size-x-small);
  font-weight: var(--sl-font-weight-normal);
}
