::part(form-control-label) {
  color: var(--ts-color-text-default);
  font-size: var(--ts-font-sm); /* 14px */
  font-weight: var(--ts-font-medium); /* 500 */
  letter-spacing: var(--ts-tracking-normal); /* normal */
  line-height: var(--ts-leading-5); /* 1.25rem * 20px */
}

::part(form-control-help-text) {
  color: var(--ts-color-text-subdued);
  font-size: var(--ts-font-sm); /* 14px */
  font-weight: var(--ts-font-normal); /* 400 */
  letter-spacing: var(--ts-tracking-normal); /* normal */
  line-height: var(--ts-leading-5); /* 1.25rem * 20px */
}

::part(form-control-input) {
  /* input styling */
  border-radius: var(--sl-border-radius-large);
  margin: var(--sl-spacing-x-small) 0;
}

::part(input),
::part(textarea) {
  color: var(--ts-color-text-default);
  font-size: var(--ts-font-base); /* 16px */
  font-weight: var(--ts-font-normal); /* 400 */
  letter-spacing: var(--ts-tracking-normal); /* normal */
  line-height: var(--ts-leading-6); /* 1.5rem * 24px */
  padding: var(--sl-spacing-x-small);
}
