:root,
:host,
.sl-theme-light {
  --sl-color-primary-50: var(--ts-color-primary-50);
  --sl-color-primary-100: var(--ts-color-primary-100);
  --sl-color-primary-200: var(--ts-color-primary-200);
  --sl-color-primary-300: var(--ts-color-primary-300);
  --sl-color-primary-400: var(--ts-color-primary-400);
  --sl-color-primary-500: var(--ts-color-primary-500);
  --sl-color-primary-600: var(--ts-color-primary-600);
  --sl-color-primary-700: var(--ts-color-primary-700);
  --sl-color-primary-800: var(--ts-color-primary-800);
  --sl-color-primary-900: var(--ts-color-primary-900);
  --sl-color-primary-950: var(--ts-color-primary-950);

  --sl-color-success-50: var(--ts-color-success-50);
  --sl-color-success-100: var(--ts-color-success-100);
  --sl-color-success-200: var(--ts-color-success-200);
  --sl-color-success-300: var(--ts-color-success-300);
  --sl-color-success-400: var(--ts-color-success-400);
  --sl-color-success-500: var(--ts-color-success-500);
  --sl-color-success-600: var(--ts-color-success-600);
  --sl-color-success-700: var(--ts-color-success-700);
  --sl-color-success-800: var(--ts-color-success-800);
  --sl-color-success-900: var(--ts-color-success-900);
  --sl-color-success-950: var(--ts-color-success-950);

  --sl-color-warning-50: var(--ts-color-warning-50);
  --sl-color-warning-100: var(--ts-color-warning-100);
  --sl-color-warning-200: var(--ts-color-warning-200);
  --sl-color-warning-300: var(--ts-color-warning-300);
  --sl-color-warning-400: var(--ts-color-warning-400);
  --sl-color-warning-500: var(--ts-color-warning-500);
  --sl-color-warning-600: var(--ts-color-warning-600);
  --sl-color-warning-700: var(--ts-color-warning-700);
  --sl-color-warning-800: var(--ts-color-warning-800);
  --sl-color-warning-900: var(--ts-color-warning-900);
  --sl-color-warning-950: var(--ts-color-warning-950);

  --sl-color-danger-50: var(--ts-color-danger-50);
  --sl-color-danger-100: var(--ts-color-danger-100);
  --sl-color-danger-200: var(--ts-color-danger-200);
  --sl-color-danger-300: var(--ts-color-danger-300);
  --sl-color-danger-400: var(--ts-color-danger-400);
  --sl-color-danger-500: var(--ts-color-danger-500);
  --sl-color-danger-600: var(--ts-color-danger-600);
  --sl-color-danger-700: var(--ts-color-danger-700);
  --sl-color-danger-800: var(--ts-color-danger-800);
  --sl-color-danger-900: var(--ts-color-danger-900);
  --sl-color-danger-950: var(--ts-color-danger-950);

  --sl-color-neutral-50: var(--ts-color-neutral-50);
  --sl-color-neutral-100: var(--ts-color-neutral-100);
  --sl-color-neutral-200: var(--ts-color-neutral-200);
  --sl-color-neutral-300: var(--ts-color-neutral-300);
  --sl-color-neutral-400: var(--ts-color-neutral-400);
  --sl-color-neutral-500: var(--ts-color-neutral-500);
  --sl-color-neutral-600: var(--ts-color-neutral-600);
  --sl-color-neutral-700: var(--ts-color-neutral-700);
  --sl-color-neutral-800: var(--ts-color-neutral-800);
  --sl-color-neutral-900: var(--ts-color-neutral-900);
  --sl-color-neutral-950: var(--ts-color-neutral-950);

  --sl-color-neutral-0: var(--ts-color-white);
  --sl-color-neutral-1000: var(--ts-color-black);

  color-scheme: light;
}
