:root,
:host,
.sl-theme-light {

  --sl-font-mono: var(--ts-font-mono);
  --sl-font-sans: var(--ts-font-sans);
  --sl-font-serif: var(--ts-font-serif);

  /* Overlay */
  --sl-overlay-background-color: rgba(var(--ts-color-blue-900-rgb), 0.5);

  /* Shadows */
  --sl-shadow-x-large: var(--ts-shadow-2xl);

  /* Spacing */
  --sl-spacing-large: var(--ts-spacing-large);
  --sl-spacing-2x-large: var(--ts-spacing-2x-large);
  --sl-spacing-4x-large: var(--ts-spacing-4x-large);

  /* Input sizes */
  --sl-input-height-small: var(--ts-input-height-small);
  --sl-input-height-medium: var(--ts-input-height-medium);
  --sl-input-height-large: var(--ts-input-height-large);

  /* Focus rings */
  --sl-focus-ring-color: rgba(var(--ts-color-blue-500-rgb), 0.5);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 4px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width) var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 0;
  --sl-input-focus-ring-color: rgba(var(--ts-color-blue-500-rgb), 0.5);

  /** Necessary because of tailwind '*' resets **/

  --sl-panel-background-color: var(--sl-color-neutral-0);
  --sl-panel-border-color: var(--sl-color-neutral-200);
  --sl-panel-border-width: 1px;

  sl-menu {
    border: solid var(--sl-panel-border-color) var(--sl-panel-border-width);
  }

  sl-divider {
    border-top: solid var(--sl-panel-border-color) var(--sl-panel-border-width);
  }
}
