:root,
:host,
.sl-theme-light {

  --sl-font-mono: var(--ts-font-mono);
  --sl-font-sans: var(--ts-font-sans);
  --sl-font-serif: var(--ts-font-serif);

  /* Overlay */
  --sl-overlay-background-color: rgba(var(--ts-color-blue-900-rgb), 0.5);

  /* Border radius */
  --sl-border-radius-small: var(--ts-border-radius-small);

  /* Because Menu component doesn't allow radius to be customized to another radius token */
  --sl-border-radius-medium: var(--sl-border-radius-large); /* 8px  */

  /* Shadows */
  --sl-shadow-x-small: var(--ts-shadow-x-small);
  --sl-shadow-small: var(--ts-shadow-small);
  --sl-shadow-medium: var(--ts-shadow-large);
  --sl-shadow-large: var(--ts-shadow-medium);
  --sl-shadow-x-large: var(--ts-shadow-x-large);

  /* Spacing */
  --sl-spacing-large: var(--ts-spacing-large);
  --sl-spacing-2x-large: var(--ts-spacing-2x-large);
  --sl-spacing-4x-large: var(--ts-spacing-4x-large);

  /* Input font colors */
  --sl-input-color: var(--ts-color-text-default);
  --sl-input-color-hover: var(--ts-color-text-default);
  --sl-input-color-focus: var(--ts-color-text-default);
  --sl-input-color-disabled: var(--ts-color-text-default);
  --sl-input-placeholder-color: var(--ts-color-text-subdued);
  --sl-input-placeholder-color-disabled: var(--ts-color-text-subdued);

  /* Input sizes */
  --sl-input-height-small: var(--ts-input-height-small);
  --sl-input-height-medium: var(--ts-input-height-medium);
  --sl-input-height-large: var(--ts-input-height-large);

  /* Input border radius */
  --sl-input-border-radius-small: var(--sl-border-radius-small);
  --sl-input-border-radius-medium: var(--sl-border-radius-large);
  --sl-input-border-radius-large: var(--sl-border-radius-large);

  /* Input border colors */
  --sl-input-border-color: var(--sl-color-neutral-400);
  --sl-input-border-color-hover: var(--sl-color-neutral-400);

  /* Input icon colors */
  --sl-input-icon-color: var(--sl-color-neutral-600);
  --sl-input-icon-color-hover: var(--sl-color-neutral-700);
  --sl-input-icon-color-focus: var(--sl-color-neutral-700);

  /* Focus rings */
  --sl-focus-ring-color: rgba(var(--ts-color-blue-500-rgb), 0.5);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 4px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width) var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 0;
  --sl-input-focus-ring-color: rgba(var(--ts-color-blue-500-rgb), 0.5);

  /** *********************************** */
  /** Override aggressive Tailwind resets */
  /** *********************************** */

  --sl-panel-background-color: var(--sl-color-neutral-0);
  --sl-panel-border-color: var(--sl-color-neutral-300);
  --sl-panel-border-width: 1px;

  sl-input[type],
  sl-input[multiple],
  sl-input textarea,
  sl-input select
  sl-input {
    border-width: 0;
    padding: initial;
  }

  sl-icon[type] {
    border-width: 0;
  }

  sl-menu {
    border: solid var(--sl-panel-border-color) var(--sl-panel-border-width);
  }

  sl-divider {
    border-top: solid var(--sl-panel-border-color) var(--sl-panel-border-width);
  }

  sl-select[multiple] {
    appearance: initial;
    appearance: initial;
    appearance: initial;
    background-color: yellow;
    border-color: initial;
    border-radius: initial;
    border-width: initial;
    font-size: initial;
    line-height: initial;
    padding-bottom: initial;
    padding-left: initial;
    padding-right: initial;
    padding-top: initial;
  }

  sl-select[multiple]:focus {
    border-color: initial;
    box-shadow: initial;
    outline: initial;
    outline-offset: initial;
  }
}
