@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap');

@import 'teamshares/ts-colors';
@import 'teamshares/ts-typography';
@import 'teamshares/ts-global';

@import '@shoelace-style/shoelace/dist/themes/light';
@import 'shoelace/sl-colors';
@import 'shoelace/sl-global';

@import 'shoelace/sl-alert';
@import 'shoelace/sl-button';
@import 'shoelace/sl-card';
@import 'shoelace/sl-details';
@import 'shoelace/sl-dialog';
@import 'shoelace/sl-divider';
@import 'shoelace/sl-drawer';
@import 'shoelace/sl-forms';
@import 'shoelace/sl-icon';
@import 'shoelace/sl-menu';
@import 'shoelace/sl-tooltip';
